{include file="common/header"}
<body>
<div class="x-body">
    <form class="layui-form" id="form" method="post">

        <!--账户-->
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>登录名
            </label>
            <div class="layui-input-inline">
                <input type="text" id="user" name="user" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>将会成为您唯一的登入名
            </div>
        </div>
        <!--手机-->
        <div class="layui-form-item">
            <label for="username" class="layui-form-label">
                <span class="x-red">*</span>手机号
            </label>
            <div class="layui-input-inline">
                <input type="text" id="tel" name="tel" required="" lay-verify="required"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                <span class="x-red">*</span>用于找回密码
            </div>
        </div>
        <!--密码-->
        <div class="layui-form-item">
            <label class="layui-form-label">
                <span class="x-red">*</span>密码
            </label>
            <div class="layui-input-inline">
                <input type="text" name="pass" required="" lay-verify="pass"
                       autocomplete="off" class="layui-input">
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>
        <!--校色-->
        <div class="layui-form-item">
            <label  class="layui-form-label">
                <span class="x-red">*</span>角色
            </label>
            <div class="layui-input-inline">
                <select name="role_id">
                    {foreach name="$list" id="li"}
                    <option  value="{$li.id}" >{$li.name}</option>
                    {foreach name="$li.list" id="lii"}
                    <option  value="{$lii.id}">&nbsp;&nbsp;&nbsp;&nbsp;--{$lii.name}</option>
                    {/foreach}
                    {/foreach}
                </select>
            </div>
            <div class="layui-form-mid layui-word-aux">
                6到16个字符
            </div>
        </div>


        <div class="layui-form-item">
            <label class="layui-form-label">
            </label>
            <button  class="layui-btn" lay-filter="add" onclick="cli()" lay-submit="">
                修改
            </button>
        </div>
    </form>
</div>
<script>
    function cli(){
        var form = $('#form').serializeArray();
        $.ajax({
            url:"{:url('adminadd')}",
            type:'post',
            data:form,
            success:function (res){
                console.log(res);
                layer.msg("修改成功",function () {
                    // layer.close(layer.index);
                    window.parent.location.reload();
                });
            }
        });
    }
</script>
</body>
</html>