{include file="common/header"}
<body>

<div class="x-body">
  <form class="layui-form" method="post">
    <div class="layui-form-item">
      <label for="username" class="layui-form-label">
        <span class="x-red">*</span>分类名称
      </label>
      <div class="layui-input-inline">
        <input type="text" id="username" name="name" required="" lay-verify="required"
               autocomplete="off" class="layui-input" value="{$info['0']['name']}">
        <input type="hidden" value="{$id}" name="id">
      </div>
    </div>

    <div class="layui-form-item">
      <label for="username" class="layui-form-label">
        <span class="x-red">*</span>所属父级
      </label>
      <div class="layui-input-inline">
        <select id="shipping" name="pid" class="valid">
          {foreach name="$lis" id="val"}
          <option  value="{$val.id}" {if condition="$val.id eq $id"} selected {/if}>{$val.name}</option>
          {/foreach}
        </select>
      </div>
    </div>

    <div class="layui-form-item">
      <label for="L_repass" class="layui-form-label">
      </label>
      <button  class="layui-btn" lay-filter="add" lay-submit="">
        修改
      </button>
    </div>
  </form>
</div>
<script>
    //监听提交
    form.on('submit(add)', function(data){
        console.log(data.field);
        $.ajax({
            url:"{:url('Adminlist/roleupd')}",
            type:'post',
            data:data.field,
            success:function (res){
                alert(res);
                layer.close(layer.index);
                window.parent.location.reload();
            }
        });
    });
</script>
</body>
</html>