<footer class="footer">
    <div class="cml-g">
        <h1>
            <a href="#">法律申明</a>
            <a href="#">隐私安全</a>
            <a href="#">网站地图</a>
            <a href="#">联系我们</a>
        </h1>
        <h2>
            <span>版权所有 1999-2017</span>
            <span>某某集团有限公司</span>
            <span>鄂ICP备1300121000558</span>
        </h2>
        <h3>
            <span>地址:湖北省XX市XX街道XX路XX号</span>
            <span>邮编:4335100</span>
            <span>电话:0714-12345678</span>
        </h3>
    </div>
</footer>